[submodule "dependencies/archinstall"]
	path = dependencies/archinstall
	url = https://github.com/Torxed/archinstall.git
[submodule "dependencies/slimHTTP"]
	path = dependencies/slimHTTP
	url = https://github.com/Torxed/slimHTTP.git
[submodule "dependencies/spiderWeb"]
	path = dependencies/spiderWeb
	url = https://github.com/Torxed/spiderWeb.git
[submodule "web_content/slimWebSocket"]
	path = web_content/slimWebSocket
	url = https://github.com/Torxed/slimWebSocket.git
[dependencies "slimHTTP"]
	master = master
[dependencies "archinstall"]
	master = master
