[submodule "archinstall_gui/dependencies/slimHTTP"]
	path = archinstall_gui/dependencies/slimHTTP
	url = https://github.com/Torxed/slimHTTP.git
[submodule "archinstall_gui/dependencies/slimWS"]
	path = archinstall_gui/dependencies/slimWS
	url = https://github.com/Torxed/slimWS.git
[submodule "archinstall_gui/dependencies/slimWebSocket"]
	path = archinstall_gui/dependencies/slimWebSocket
	url = https://github.com/Torxed/slimWebSocket.git
[dependencies "slimHTTP"]
	master = master
[dependencies "slimWS"]
	master = master
[submodule "archinstall_gui/dependencies/archinstall"]
	path = archinstall_gui/dependencies/archinstall
	url = https://github.com/Torxed/archinstall.git
	branch = master
