[Unit]
Description=Arch Linux installer Web GUI
Requires=network
After=network

[Service]
Type=simple
WorkingDirectory=/srv/archinstall_gui
ExecStart=/srv/archinstall_gui/webgui.py
